<div class="downloaded-theme-list-item">
  <div class="row mx-auto">
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        {{fields.field_product_image.content}}
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="themes-list-item-content">
        <h2><a href="{{fields.view_commerce_product.content}}" class="theme">{{fields.title.content}}</a></h2>
        <h3>{{fields.price__number.content}}</h3>
        <p class="desc">Drupal 8 Theme</p>
        {{fields.remove_button.content}}
      </div>
    </div>
  </div>
</div>
