<div class="container">
		<div class="row">
	        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mx-auto drupalslave-form">
	                <div class="drupalslave-form-title">
	                    <h2>Sign Up</h2>
	 	            </div>
	                <div class="drupalslave-log-form">
	                    <div class="row"> 
	                        <div class="col-lg-12">
	                            {{form.account.mail}}
	                        </div>
	                        <div class="col-lg-12">
	                            {{form.account.name}}
	                        </div>
	                        <div class="col-lg-12 text-center">
	                            {{ form.form_build_id }}
                                {{ form.form_id }}
                                {{ form.actions }} 
	                        </div>
	                        <div class="col-lg-12 text-center">
	                        	Sign with 
                                   <a class="btn-primary google" href="/user/login/google">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a class="btn-primary facebook" href="/user/login/facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a> 
	                        </div>                           
	                    </div>
	                </div>
		           	
		</div>
	</div>
</div>